<div class="row">
    {{#each projects as |project|}}
    <div class="card project col-sm-6 col-lg-4 ">
        <div class="card-body">
            <h2 class="card-header">
                <!-- Call helper function with triple brackets to render the emoji span as HTML -->
                {{{get_emoji}}}
                <a href="/project/{{project.id}}">{{project.name}}</a>
            </h2>
            <p class="card-body">
                <span for="img" aria-label="money">💲</span>
                <!-- Pass needed_funding value to the helper function -->
                <span class="dollar-amount">{{format_amount project.needed_funding}}</span>
                needed!
            </p>
            <p>Created by {{project.user.name}} on {{format_date project.date_created}}</p>
        </div>
        <div class="">
            <p>
                {{project.description}}
            </p>
        </div>
    </div>
    {{/each}}
</div>