<divc class="flex-row">
    <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Welcome, {{name}}</h2>

    <div class="row mt-4">
        <form class="border-b border-gray-900/10 pb-12 new-project-form">
            <h2 class="text-base font-semibold leading-7 text-gray-900">Create a new project!</h2>
            <p class="mt-1 text-sm leading-6 text-gray-600">Enter details below of the project that you would like funding for,
                the more information the better.</p>

            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
                <div class="sm:col-span-3">
                    <label for="project-name" class="block text-sm font-medium leading-6 text-gray-900">Project name</label>
                    <div class="mt-2">
                        <input type="text" name="project-name" id="project-name" autocomplete="project-name"
                            class="block w-full rounded-md indent-2 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>
                <div class="sm:col-span-3">
                    <label for="project-funding" class="block text-sm font-medium leading-6 text-gray-900">Needed funding
                        ($)</label>
                    <div class="mt-2">
                        <input type="number" name="project-funding" id="project-funding" autocomplete="project-funding"
                            class="block w-full rounded-md indent-2 border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                    </div>
                </div>
                <div class="sm:col-span-full">
                    <label for="project-desc" class="block text-sm font-medium leading-6 text-gray-900">Description</label>
                    <div class="mt-2">
                        <textarea id="project-desc" name="about" rows="3"
                            class="block w-full rounded-md border-0 py-1.5 indent-2 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                    
                    </div>
                </div>
            </div>
            <div>
                <button type="submit"
                    class=" mt-2 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
            </div>
        </form>

        {{#if projects.length}}
        <div class="project-list border-green ">
            <h2 class="text-base font-semibold leading-7 text-gray-900">Current Projects:</h2>
            <div class="grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8">

            {{#each projects as |project|}}
                                
            <div class=" mt-5 bg-yellow-100 p-3 rounded-lg border-2 border-yellow-400 border-dotted">
                <a href="/project/{{project.id}}" class="h-20">
                    <h3 class="text-2xl text-black text-center align-middle">{{project.name}}</h3>
                </a>
                <div class="h-30">
                    <p class="mt-2 text-2xl font-medium text-gray-900 text-center bg-green-100 rounded-lg">${{format_amount
                        project.needed_funding}}</p>
                    <p class="mt-2 text-m font-medium text-gray-900">Created on {{format_date project.date_created}}</p>
                </div>
                <div class="h-30 justify-items-center">
                    <button class=" w-full mt-2 text-2xl align-middle font-medium text-gray-900 text-center bg-red-100 rounded-lg" data-id="{{project.id}}">DELETE</button>
                </div>
            </div>

            {{/each}}
            </div>
        </div>
        {{/if}}
    </div>
</div>

<script src="./js/profile.js"></script>